<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}
        <title>RaspCloud - Your data, with you</title>
        {% endblock head %}
        <link
            rel="stylesheet"
            href="/static/w3.css"
        />
        <link
            rel="stylesheet"
            href="/static/global.css"
        />
        <script src="/static/fontawesome.js"></script>
    </head>
    <body>
        <script>console.log("Interested in the code behind RaspCloud? RaspCloud is open-source for you to see! https://github.com/arnu515/raspcloud")</script>
        {% block body %}{% endblock body %}
        <script src="/static/script.js" defer></script>
    </body>
</html>
