{% extends "base.html" %}
{% import "components/navbar.jinja" as navbar %}
{% import "components/modal.jinja" as modal %}
{% import "components/alerts.jinja" as alerts %}

{% block head %}
    <title>RaspCloud - Your data, with you</title>
{% endblock head %}

{% block body %}
    {{ navbar.navbar(current_user) }}
    {{ navbar.sidebar("Folder structure" if request.path == "/" else request.path.split('/')[-1], items[0]) }}
    {{ navbar.breadcrumbs() }}
    <main class="main w3-container">
        {% with messages = get_flashed_messages(True, "error") %}
        {% if messages %}
        {% for message in messages %}
        <div class="w3-container">
            {{ alerts.error(message[1]) }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Folders</h2>
        <div class="w3-row-padding w3-section">
            {% for item in items[0] %}
            <div class="w3-col m6 l4 w3-margin-top" id="folder{{ loop.index }}">
                <div class="card">
                    <div class="w3-center w3-section" style="cursor: pointer;"><a class="w3-jumbo w3-text-blue" href="/files{{ item.abs_path }}"><i class="far fa-folder"></i></a></div>
                    <footer class="w3-container w3-section">
                        <a href="/files{{ item.abs_path }}" class="w3-text-blue w3-hover-text-aqua">{{ item.name[:17] }}{% if item.name[:17] != item.name %}...{% endif %}/</a>
                        <div class="w3-right">
                            <span class="w3-hover-text-dark-gray" onclick="document.querySelector('#folder{{ loop.index }} .rc-menu').classList.toggle('active')" style="cursor: pointer"><i class="fas fa-ellipsis-h"></i></span>
                            <div class="rc-menu w3-animate-opacity">
                                <ul>
                                    <li onclick="window.location = '/files{{ item.abs_path }}'"><i class="far fa-eye"></i> Open</li>
                                    <li onclick="rename('folder', '{{ item.id }}', '{{ item.name }}')"><i class="fas fa-i-cursor"></i> Rename</li>
                                    <li class="w3-text-red" onclick="del('folder', '{{ item.id }}', '{{ item.name }}')"><i class="fas fa-trash"></i> Delete</li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            {% else %}
            <p>There are no folders</p>
            {% endfor %}
        </div>
        <hr class="w3-border-top w3-border-gray w3-section">
        <h2>Files</h2>
        <div class="w3-row-padding">
            {% for item in items[1] %}
            <div class="w3-col m6 l4 w3-margin-top" id="file{{ loop.index }}">
                <div class="card">
                    <div class="w3-center w3-section" style="cursor: pointer;"><a class="w3-jumbo w3-text-blue" href="/dl{{ item.abs_path }}"><i class="far fa-{{ get_file_icon(item.mimetype) }}"></i></a></div>
                    <footer class="w3-container w3-section">
                        <a href="/dl{{ item.abs_path }}" class="w3-text-blue w3-hover-text-aqua">{{ item.name[:17] }}{% if item.name[:17] != item.name %}...{% endif %}</a>
                        <div class="w3-right">
                            <span class="w3-hover-text-dark-gray" onclick="document.querySelector('#file{{ loop.index }} .rc-menu').classList.toggle('active')" style="cursor: pointer"><i class="fas fa-ellipsis-h"></i></span>
                            <div class="rc-menu w3-animate-opacity">
                                <ul>
                                    <li onclick="window.location = '/dl{{ item.abs_path }}'"><i class="fas fa-download"></i> Download</li>
                                    <li onclick="rename('file', '{{ item.id }}', '{{ '/'.join(item.name.split('.')[:-1]) }}')"><i class="fas fa-i-cursor"></i> Rename</li>
                                    <li class="w3-text-red" onclick="del('file', '{{ item.id }}', '{{ item.name }}')"><i class="fas fa-trash"></i> Delete</li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            {% else %}
            <p>There are no files</p>
            {% endfor %}
        </div>
    </main>

<!--    MODALS-->
    {{ modal.new_folder_modal() }}
    {{ modal.upload_file_modal() }}
    {{ modal.rename_item_modal("folder") }}
    {{ modal.rename_item_modal("file") }}
    {{ modal.delete_item_modal("file") }}
    {{ modal.delete_item_modal("folder") }}
{% endblock body %}

