{% extends "base.html" %}
{% import "components/navbar.jinja" as navbar %}
{% import "components/modal.jinja" as modal %}
{% import "components/alerts.jinja" as alerts %}

{% block head %}
<title>RaspCloud - Your data, with you</title>
{% endblock head %}

{% block body %}
    {{ navbar.navbar(current_user) }}
    {{ navbar.sidebar("Folder structure" if request.path == "/" else request.path.split('/')[-1], items[0]) }}
    {{ navbar.breadcrumbs() }}
    <main class="main w3-container">
        {% with messages = get_flashed_messages(True, "error") %}
        {% if messages %}
        {% for message in messages %}
        <div class="w3-container">
            {{ alerts.error(message[1]) }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Folders</h2>
        <div class="w3-row-padding w3-section">
            {% for item in items[0] %}
            <div class="w3-col m4 l3 w3-margin-top">
                <div class="card">
                    <div class="w3-center w3-section" style="cursor: pointer;"><a class="w3-jumbo w3-text-blue" href="{{ item.abs_path }}"><i class="far fa-folder"></i></a></div>
                    <footer class="w3-container w3-section">
                        <a href="{{ item.abs_path }}" class="w3-text-blue w3-hover-text-aqua">{{ item.name }}/</a>
                        <div class="w3-right">
                            <span class="w3-hover-text-dark-gray" style="cursor: pointer"><i class="fas fa-ellipsis-h"></i></span>
                        </div>
                    </footer>
                </div>
            </div>
            {% else %}
            <p>There are no folders</p>
            {% endfor %}
        </div>
        <hr class="w3-border-top w3-border-gray w3-section">
        <h2>Files</h2>
        <div class="w3-row-padding w3-section">
            {% for item in items[1] %}
            <div class="w3-col m4 l3 w3-margin-top">
                <div class="card">
                    <div class="w3-center w3-section" style="cursor: pointer;"><a class="w3-jumbo w3-text-blue" href="/dl/{{ item.abs_path }}"><i class="far fa-{{ get_file_icon(item.mimetype) }}"></i></a></div>
                    <footer class="w3-container w3-section">
                        <a href="/dl/{{ item.abs_path }}" class="w3-text-blue w3-hover-text-aqua">{{ item.name }}</a>
                        <div class="w3-right">
                            <span class="w3-hover-text-dark-gray" style="cursor: pointer"><i class="fas fa-ellipsis-h"></i></span>
                        </div>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

<!--    MODALS-->
    {{ modal.new_folder_modal() }}
    {{ modal.upload_file_modal() }}
{% endblock body %}

